@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
}

body {
  width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
  /* background-image: linear-gradient(to right, #232526 0%, #414345 100%); */
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #01579b;
  transition: color 0.3s ease;
}

a:hover {
  color: #00b0ff;
}

h1 {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.error {
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #dc3545;
}

.error mark {
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  color: #fff;
  background-color: #01579b;
}

.loader {
  margin: 1rem auto;
  display: block;
  width: 4rem;
  height: 4rem;
}

.grid-fluid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  /* margin: 1rem auto; */
  max-width: 100%;
}

.header {
  padding: 0 0 .5rem 0;
  position: sticky;
  top: 0;
  text-align: center;
  background-color: #ffffff;
}

.header >* {
  margin: 2rem auto;
}

.title-page {
  margin: 0;
}


.title-page a {
  color: #000000;
  letter-spacing: 1px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 2.6rem;
}

.menu  {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.search-form {
  margin: auto;
  text-align: center;
}

.search-form input {
  display: block;
  margin: auto;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  width: 100%;
  outline: none;
}

.search-form input::placeholder {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  letter-spacing: 1px;
}

.main {
  margin: 2rem auto 4rem auto;
}

.post-card {
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
  background-color: #eceff1;
  border-radius: 5px;
}

.post-card h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.post-card p {
  display: flex;
  justify-content: space-between;
}

.post-card a {
  font-weight: 700;
}

.post-page {
  padding: 1rem;
  background-color: #eceff1;
}

.post-page > aside {
  margin: auto;
  width: 80%;
  text-align: center;
}

.post-page h2 {
  margin-bottom: 2rem;
}

.post-page time {
  display: block;
  margin: 1rem auto;
}

.post-page > hr {
  border: thin solid #cfd8dc;
  margin: 2rem auto;
}

.post-page > article {
  padding: 0 1rem;
}

.post-page img,
.post-page figure,
.post-page audio,
.post-page iframe,
.post-page video {
  margin: auto;
  display: block;
  max-width: 100%;
}

@media screen and (min-width: 992px) {
  .grid-fluid {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 30px;
  }

  .title-page a {
    font-size: 3.5rem;
  }

  .menu  {
    justify-content: space-around;
    font-size: 1.5rem;
  }

  .search-form {
    width: 70%;
  }
}