@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --main-color: #f7df1e;
  --second-color: #222222;
  --main-modal-color: rgba(247, 222, 30, 0.85);
  --second-modal-color: rgba(34, 34, 34, 0.85);
  --font-size: 16px;
  --font-family: 'Montserrat', sans-serif;
  --container-width: 1200px;
}

html {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}





/* Menu Hamburgesa */
.header {
  position: sticky;
  z-index: 997;
  top: 0;
  padding: 1.5rem;
  background-color: var(--main-color);
  color: var(--second-color);
}

.header h1 {
  text-align: center;
  font-size: 3rem;
}

.section {
  padding: 2rem;
  padding-top: 4rem;
  margin: 0 auto;
  width: 100%;
  max-width: var(--container-width);
  min-height: 100vh;
  text-align: center;
  font-size: 2rem;
}

.panel {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow-y: auto;
  background-color: var(--second-modal-color);
  opacity: 0;
  visibility: hidden;
  transition: transform .3s ease, opacity 0.5s ease;
  transform: translate(0, 100%);
}

.panel.is-active {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}

.panel-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

.menu {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.menu a {
  padding: 2rem;
  width: inherit;
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--main-color);
  transition: all 0.3s ease;
}

.menu a:hover {
  font-weight: 700;
  color: var(--second-color);
  background-color: var(--main-modal-color);
}





/* Reloj Digital */
#seccion1 h2 {
  margin-bottom: 9rem;
}

#reloj {
  font-size: 5rem;
  margin: 0;
  margin-bottom: 9rem;
}

.botoneria {
  display: flex;
  justify-content: space-around;
}

.btn-1 {
  background-color: var(--main-modal-color);
  outline: none;
}

.btn-2 {
  background-color: var(--main-modal-color);
  outline: none;
}

.btn-3 {
  background-color: var(--main-modal-color);
  outline: none;
}

.btn-4 {
  background-color: var(--main-modal-color);
  outline: none;
}

button {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--second-modal-color);
  border: none;
  border-radius: .2rem;
  padding: 1rem;
  cursor: pointer;
}





/* Eventos del Teclado */
#seccion2 h2 {
  margin-bottom: 10rem;
}

.stage {
  display: flex;
  min-height: 50vh;
  background-color: var(--second-color);
}

.ball {
  margin: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--main-color);
}





/* Cuenta Regresiva */
#seccion3 h2 {
  margin-bottom: 9rem;
}





/* Responsive Tester */
#seccion5 h2 {
  margin-bottom: 2rem;
}

#responsive-tester input {
  padding: 1rem;
  margin-bottom: .5rem;
  width: 50%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  outline: none;
}

.medidas {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.medidas input {
  max-width: calc(25% - .3rem);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;
}

.medidas input:nth-child(1) {
  margin-right: .5rem;
}

.botones-devices {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.botones-devices input {
  max-width: calc(25% - .3rem);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;
}

.botones-devices input:nth-child(1) {
  margin-right: .5rem;
}





/* Scroll Top Boton */
.scroll-top-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: calc(4.25rem + 1vw);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 700;
  background-color: var(--main-color);
  color: var(--second-color);
  outline: none;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.scroll-top-btn:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}





/* Dark Mode */
.dark-theme-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  left: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 700;
  background-color: var(--main-color);
  color: var(--second-color);
  outline: none;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.dark-theme-btn:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}

.dark-mode {
  background-color: var(--second-color);
  color: var(--main-color);
}





/* Deteccion del Estado de Red */
.online, .offline {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  background-color: #1b5e20;
  color: #fff;
}

.offline {
  background-color: #b71c1c;
}





/* Geolocalizacion */
#geolocation ul {
  margin-bottom: 2rem;
}

#geolocation ul>li {
  list-style: none;
  text-decoration: none;
}

#geolocation a {
  text-decoration: none;
  color: var(--main-color-);
}





/* Filtro de Busqueda */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.card {
  background-color: var(--second-color);
  color: var(--main-color);
  transition: all 0.3s ease-out;
}

.card img {
  width: 100%;
  height: auto;
}

.card figcaption {
  padding: 1rem;
}

.filter {
  visibility: hidden;
  opacity: 0;
  order: 1;
}





/* Sorteo Digital */
#seccion11 h2 {
  margin-bottom: 4rem;
}

.players li {
  list-style: none;
}





/* Slider Responsivo */
.slider {
  position: relative;
  width: 80%;
  margin: 1rem auto;
  text-align: center;
}

.slider-slides {
  position: relative;
  height: 400px;
}

.slider-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

.slider-slide img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: 50% 0%;
}

.slider-slide.active {
  opacity: 1;
  visibility: visible;
}

.slider-btns {
  position: absolute;
  width: 100%;
  top: 42%;
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: bold;
}

.slider a {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: thin solid #000;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease;
}

.slider a:hover {
  color: #4d4d4d;
}





/* ScrollSpy */
@media screen and (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 6rem auto;
    grid-template-areas:
      "header header"
      "main   panel"
    ;
  }

  main {
    grid-area: main;
  }

  header {
    grid-area: header;
  }

  .panel {
    grid-area: panel;
    position: sticky;
    top: 6rem;
    justify-content: start;
    align-self: start;
    background-color: var(--second-color);
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
  }

  .panel-btn {
    display: none;
  }

  .menu {
    justify-content: start;
    text-align: left;
  }

  .menu a {
    font-size: 1rem;
    padding: 0.90rem;
  }

  .menu a:hover,
  .menu a.active {
    color: var(--second-color);
    background-color: var(--main-color);
  }

  .scroll-top-btn {
    right: initial;
    left: calc(4.25rem + 1vw);
  }
}





/* Video Inteligente */
#seccion13 h2 {
  margin-bottom: 4rem;
}

#seccion13 video {
  width: 100%;
}





/* Validacion de Formulario */
.contact-form {
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.contact-form textarea {
  resize: none;
}

.contact-form legend,
.contact-form-response {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  font-size: 1rem;
  font-family: var(--font-family);
  outline: none;
}

.contact-form input[type="submit"] {
  width: 50%;
  font-weight: 700;
  cursor: pointer;
}

.contact-form *::placeholder {
  color: #000;
}

.contact-form [required]:valid {
  border: thin solid var(--form-ok-color);
}

.contact-form [required]:invalid {
  border: thin solid var(--form-error-color);
}

.contact-form-error {
  margin-top: -1rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: #fff;
  transition: all 800ms ease;
}

.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}