<header class="header">
  <section class="header-content container">
    <article class="logo">
      <img src="https://jonmircha.com/img/kEnAi.svg" alt="Logo">
    </article>
    <nav class="menu">
      <a href="assets/html/home.html">Home</a>
      <a href="assets/html/acerca.html">Acerca</a>
      <a href="assets/html/servicios.html">Servicios</a>
      <a href="assets/html/contacto.html">Contacto</a>
    </nav>
  </section>
</header>