@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;
}

html {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 16px;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-color: #212121;
  font-family: var(--font-family);
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  margin-bottom: 2rem;
}

.container {
  width: 80%;
  margin: 2rem auto 0 auto;
}

.loader {
  display: none;
  margin: 10vh auto;
}

h1 {
  text-align: center;
}

#song-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artista,
.cancion {
  width: 80%;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  outline: none;
  border: none;
  border-radius: 6rem;
  font-size: 1.2rem;
  font-family: var(--font-family);
}

.buscar {
  width: 40%;
  padding: .8rem;
  background-color: #38ef7d;
  border-radius: 6rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: var(--font-family);
  font-weight: 700;
  margin-bottom: 4rem;
}

.error p {
  margin-top: 10vh;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column-reverse;
}

.song blockquote {
  white-space: pre-wrap;
}

@media screen and (min-width: 992px) {
  .artista,
  .cancion {
    width: 70%;
  }

  .buscar {
    width: 40%;
  }

  main {
    flex-direction: row;
  }

  main > * {
    padding: 1rem;
    flex-basis: 50%;
  }
}