@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

progress {
  margin-top: 1rem;
}

.drop-zone {
  margin-left: auto;
  margin-right: auto;
  border: thin dotted #000;
  width: 80%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.drop-zone.is-active {
  border: thick dashed #000;
  background-color: rgba(0, 128, 0, .5);
  animation: pulse 1.5s infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}