@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;
}

html {
  box-sizing: border-box;
  font-family: var(--font-family);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#productos {
  display: flex;
  flex-wrap: wrap;
}

#productos > * {
  flex: 1 1 200px;
  margin: 1rem;
}

h1 {
  text-align: center;
}

.producto {
  background-color: crimson;
  color: chartreuse;
  font-size: 125%;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
  margin-bottom: 3rem;
}

.producto:hover {
  opacity: .9;
  transform: scale(.9);
}

.producto img {
  max-width: 100%;
  height: auto;
}

.producto figcaption {
  padding: 1rem;
}