@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
  --font-family: 'Raleway', sans-serif;
}

html {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-color: #212121;
  font-family: var(--font-family);
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  margin: 3rem auto;
}

.site h1,
.site a {
  text-decoration: none;
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 1rem;
}

.site p {
  font-size: 1.3rem;
  text-align: center;
}

.site p:last-of-type {
  margin-bottom: 5rem;
}

.loader {
  display: none;
  margin: 3.5rem auto;
}

.post {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem;
  color: #212121;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.post-img {
  margin-bottom: 1rem;
  transition: all 0.4s ease;
}

.post-img:hover {
  filter: grayscale(100%);
}

.post-title {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.post-information {
  display: flex;
  flex-direction: column;
}

.post-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.post-author img {
  border-radius: 50%;
  margin-right: .5rem;
}

.post-date {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.post-link {
  color: #38ef7d;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.post-excerpt {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post-categories,
.post-tags {
  margin-bottom: 1rem;
}

.post-categories p,
.post-tags p {
  font-weight: 700;
  margin-bottom: .5rem;
}

.post-categories ul,
.post-tags ul {
  list-style-type: none;
}

.post-content summary {
  outline: none;
  border: none;
  font-size: 1.3rem;
  font-weight: 700;
}

.post-content article {
  margin-top: 1rem;
}

@media screen and (min-width: 992px) {
  .container {
    width: 70%;
    margin: 3rem auto;
  }

  .post-title {
    font-size: 2.5rem;
  }

  .post-author {
    font-size: 1.3rem;
  }

  .post-author img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: .5rem;
  }

  .post-date {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-style: italic;
  }

  .post-excerpt {
    font-size: 1.5rem;
  }

  .post-categories p,
  .post-tags p {
    font-size: 1.4rem;
  }

  .post-categories ul,
  .post-tags ul {
    font-size: 1.3rem;
  }

  .post-content summary {
    font-size: 1.5rem;
  }
}