@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;
}

html {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 16px;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-color: #212121;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  margin-bottom: 2rem;
}

.container {
  width: 80%;
  margin: 2rem auto 0 auto;
}

.buscador {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.input {
  width: 60%;
  height: 4rem;
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 1.8rem;
}

.message {
  font-size: 1.7rem;
  margin-top: 15vh;
}

.message span {
  font-weight: 700;
  font-size: 1.9rem;
}

.loader {
  display: block;
  margin: 10vh auto;
}

.grid-fluid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.show {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #212121;
  border-radius: 2px;
  padding: .5rem;
  height: fit-content;
}

.show h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.show div {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.show img {
  align-items: center;
  margin-bottom: 2rem;
}

.show a {
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  text-align: end;
}