@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;
}

html {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 16px;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-color: #212121;
  font-family: var(--font-family);
  color: #fff;
}

h1 {
  margin-top: 2rem;
}

h1, h2 {
  margin-bottom: 2rem;
  text-align: center;
}

.container {
  width: 80%;
  margin: 2rem auto 0 auto;
}

main {
  display: flex;
  flex-direction: column;
}

.estados,
.municipios,
.colonias {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 70%;
  margin-bottom: 3rem;
}

.colonias {
  margin-bottom: 0;
}

.estados label,
.municipios label,
.colonias label {
  font-size: 2rem;
  margin-bottom: .8rem;
}

.estados select,
.estados option,
.colonias option {
  font-size: 1.2rem;
  outline: none;
  border: none;
  padding: .3rem;
}

.municipios select,
.municipios select,
.colonias select {
  font-size: 1.2rem;
  outline: none;
  border: none;
  padding: .3rem;
}

.error-estados,
.error-municipios,
.error-colonias {
  text-align: center;
  margin-bottom: 2rem;
}