@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;
}

html {
  box-sizing: border-box;
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
	background-color: #ffffff;
	min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background: -webkit-linear-gradient(0deg,rgba(17, 153, 142, 1) 0%,rgba(56, 239, 125, 1) 50%);
  margin-bottom: 3rem;
}

.title-h1 {
  text-align: center;
  color: #212121;
}

.links {
  text-align: center;
  font-size: 2.5rem;
}

.links a {
  text-decoration: none;
  list-style: none;
}

.loader {
  display: block;
  margin: auto;
}

.grid-fluid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  text-align: center;
}

.card {
  background: -webkit-linear-gradient(0deg,rgba(17, 153, 142, 1) 0%,rgba(56, 239, 125, 1) 50%);
  box-shadow: 10px 10px 15px -3px rgba(0,0,0,0.3);
}

.card-title {
  color: #212121;
  font-size: 1.4rem;
  font-weight: 700;
}